.additional-products {
  padding-top: 28px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    padding-bottom: 84px;
  }
}

.additional-products__title {
  @include title-style-reset;
  @include caption-decoration;

  margin-left: -20px;
  margin-bottom: 35px;

  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    @include caption-decoration(37px);

    margin-left: 0;
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -37px;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  @include list-style-reset;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 896px;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;

  border-bottom: 1px solid $dark-border-color;

  &:first-child {
    border-top: 1px solid $dark-border-color;
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-right: 37px;
    padding-bottom: 25px;
    padding-left: 37px;

    border: 1px solid $dark-border-color;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $dark-border-color;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;

    border: none;
    border-bottom: 1px solid $dark-border-color;
  }
}

.additional-products__button {
  margin-top: 15px;

  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    width: 244px;
  }
}

.additional-product-card__price {
  float: right;
}

.additional-products__promo {
  padding-top: 58px;
  padding-right: 58px;
  padding-bottom: 43px;
  padding-left: 58px;

  background-color: $accent-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: url("../img/icon-gift.svg");

    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
    width: 56px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-right: 113px;
    padding-bottom: 66px;
    padding-left: 88px;

    &::before {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-right: 30px;
    padding-bottom: 42px;
    padding-left: 30px;
    width: 245px;
    box-sizing: border-box;

    &::before {
      margin: 0 auto;
      margin-bottom: 58px;
    }
  }
}

.additional-products__promo-text {
  @include paragraph-style-reset;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $light-text-color;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    width: 170px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: auto;

    text-align: center;
  }
}
