.additional-product-card {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 610px;
  }
}

.additional-product-card__name {
  @include title-style-reset;

  margin-bottom: 13px;

  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $special-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product-card__link {
  @include link-style-reset;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.additional-product-card__table {
  width: 100%;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    width: 285px;

    font-size: 16px;
    line-height: 16px;
  }
}

.additional-product-card__size {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 198px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional-product-card__price {
  width: 50%;

  text-align: right;

  @media (min-width: $tablet-width) {
    width: 87px;
  }
}
