.contacts {
  position: relative;
}

.contacts__text-info {
  @include layout-wrapper;

  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;

  &--dark {
    background-color: $light-special-background-color;
  }

  @media (min-width: $tablet-width) {
    @include layout-wrapper(70px);

    padding-top: 66px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    @include layout-wrapper(110px);

    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -400px;
    padding-top: 95px;
    min-height: 400px;
  }
}

.contacts__slogan {
  @include paragraph-style-reset;

  width: 50%;

  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-special-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 30%;

    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;

    padding-top: 66px;
    padding-right: 40px;
    padding-bottom: 59px;
    padding-left: 76px;
    width: 285px;
    box-sizing: border-box;

    background-color: $basic-background-color;
  }
}

.contacts__address {
  @include paragraph-style-reset;

  width: 50%;

  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 30%;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;

    padding-top: 66px;
    padding-right: 76px;
    padding-bottom: 59px;
    padding-left: 40px;
    width: 285px;
    box-sizing: border-box;

    text-align: left;

    background-color: $basic-background-color;
  }
}

.contacts__address-city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 18px;
  }
}

.contacts__map-block {
  position: relative;
}

.contacts__interactive-map {
  width: 100%;

  vertical-align: bottom;

  border: none;
}

.contacts__image-map-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.contacts__image-map {
  vertical-align: bottom;
}

.contacts__image-map-pin {
  position: absolute;
  left: 70px;
  top: 150px;
}
