.developer {
  @include link-style-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 22px;
  width: 100%;

  &:hover .developer__logo,
  &:focus .developer__logo {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    width: 162px;
  }
}

.developer__name {
  font-size: 16px;
  line-height: 18px;
}
