.food-programms__list {
  @include list-style-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.food-programms__item {
  position: relative;

  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;

  background-color: $light-special-background-color;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 22px;

    display: block;
    width: 50px;
    height: 50px;

    background-color: $accent-color;
    border-radius: 50%;
  }

  &--slim::after {
    content: url("../img/icon-cat-slim.svg");

    position: absolute;
    top: 21px;
    left: 29px;

    display: block;
    width: 36px;
  }

  &--pro::after {
    content: url("../img/icon-cat-pro.svg");

    position: absolute;
    top: 35px;
    left: 13px;

    display: block;
    width: 67px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-right: 275px;
    padding-bottom: 35px;
    padding-left: 52px;

    &:nth-child(2) {
      padding-right: 315px;
    }

    &::before {
      top: 91px;
      right: 60px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 81px;
      right: 92px;
      left: auto;

      width: 140px;
      height: 192px;
    }

    &--pro::after {
      top: 135px;
      right: 28px;
      left: auto;

      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-right: 52px;
    padding-bottom: 82px;
    width: 570px;

    &:nth-child(2n) {
      margin-right: 0;
      padding-right: 52px;
    }

    &::before {
      top: 47px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--slim::after {
      top: 41px;
      right: auto;
      left: 67px;

      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 67px;
      right: auto;
      left: 33px;

      width: 134px;
      height: 56px;
    }
  }
}

.food-programms__name {
  @include title-style-reset;

  margin-bottom: 29px;
  margin-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 26px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    padding-left: 161px;
  }
}

.food-programms__description {
  @include paragraph-style-reset;

  padding-bottom: 23px;

  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    padding-bottom: 0;

    font-size: 16px;
    line-height: 24px;
    color: $dark-text-color;

    border: none;
  }
}

.food-programms__link {
  @include link-style-reset;

  position: relative;

  display: block;
  padding-top: 19px;
  padding-bottom: 22px;

  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $dark-text-color;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: url("../img/icon-right-arrow-long.svg");

    position: absolute;
    top: 18px;

    margin-left: 15px;
    width: 24px;
  }

  &:hover::after,
  &:focus::after {
    content: url("../img/icon-right-arrow-verylong.svg");

    width: 32px;
  }

  @media (min-width: $tablet-width) {
    width: 200px;

    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 16px;

      margin-left: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 35px;
  }
}
