.form {
  padding-top: 12px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__fieldset {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  border: none;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--bodered {
    padding-top: 22px;
    padding-bottom: 22px;

    border-top: 1px solid $form-border-color;
    border-bottom: 1px solid $form-border-color;
  }

  @media (max-width: $mobile-only-width) {
    &--bodered {
      margin-left: -20px;
      padding-right: 20px;
      padding-left: 20px;
      width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    &--bodered {
      padding-top: 25px;
      padding-left: 28px;

      border: 1px solid $form-field-color;
    }

    &--wrapped {
      margin-bottom: 71px;

      &:last-of-type {
        margin-bottom: 71px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--wrapped {
      width: 570px;
      box-sizing: border-box;
    }
  }
}

.form__field-block {
  @include paragraph-style-reset;

  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    display: block;
    margin-bottom: 12px;
  }

  &--checkbox {
    display: block;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;

    &--radio {
      margin-bottom: 13px;
    }

    &--checkbox {
      margin-bottom: 33px;
      width: 50%;
      box-sizing: border-box;

      &:nth-child(2n) {
        padding-left: 30px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;

    &--radio {
      margin-bottom: 13px;
    }

    &--checkbox {
      width: 325px;

      &:nth-child(2n) {
        padding-left: 0;
      }

      &:nth-child(4n) {
        width: 245px;
      }
    }

    &--wrapped {
      margin-bottom: 0;
      width: 570px;
    }
  }
}

.form__label {
  display: block;
  margin-right: 14px;

  font-size: 16px;
  line-height: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  &--radio,
  &--checkbox {
    position: relative;

    padding-left: 46px;
    margin-right: 0;

    &:active {
      opacity: 0.3;
    }

    &::before {
      content: "";

      position: absolute;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid $form-checkbox-color;
    }

    &:hover::before,
    &:focus::before {
      border-color: $form-checkbox-hover-color;
    }
  }

  &--radio {
    color: $special-text-color;

    &::before {
      border-radius: 50%;
    }
  }

  &--checkbox {
    color: $dark-text-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 40px;

    &--radio,
    &--checkbox {

      padding-left: 60px;

      &::before {
        width: 38px;
        height: 38px;
      }
    }
  }
}

.form__text-field {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 12px;
  flex-grow: 1;

  border: 1px solid $form-field-color;

  &:hover {
    border-color: $form-field-hover-color;
  }

  &:focus {
    border-color: $form-field-focus-color;
    outline: none;
  }

  &:focus + .form__icon {
    fill: $accent-color;
  }

  &:invalid {
    border-color: $error-color;
  }

  &:invalid + .form__icon {
    fill: $error-color;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 16px;
    font-family: "Oswald", "Arial", sans-serif;
    text-transform: uppercase;
    color: $basic-text-color;
  }

  &--illustrated {
    padding-right: 45px;
  }

  &--textarea {
    height: 122px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }

    &--textarea {
      padding-top: 13px;
      height: 144px;
    }
  }
}

.form__radio-field:checked + .form__label--radio::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  display: block;
  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: $accent-color;

  @media (min-width: $tablet-width) {
    top: 11px;
    left: 11px;

    width: 18px;
    height: 18px;
  }
}

.form__checkbox-field:checked + .form__label--checkbox::after {
  content: url("../img/icon-tick.svg");

  position: absolute;
  left: 6px;
  top: 0;

  display: block;
  width: 18px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 11px;
  }
}

.form__list {
  @include list-style-reset;

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__fieldset-legend {
  @include caption-decoration;

  margin-left: -20px;
  margin-bottom: 34px;
  max-width: 230px;

  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    @include caption-decoration(40px);

    margin-bottom: 76px;
    margin-left: -40px;
    max-width: none;

    font-size: 36px;
    line-height: 36px;

    .form__fieldset:last-of-type & {
      margin-bottom: 56px;
    }
  }
}

.form__icon {
  position: absolute;
  right: 17px;
}

.form__button {
  margin-top: 35px;
  margin-bottom: 21px;
  width: 100%;

  font-size: 16px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 19px;
    margin-bottom: 40px;
    width: 282px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 44px;
    margin-bottom: 52px;
    width: 568px;
  }
}

.form__legend {
  @include paragraph-style-reset;

  text-align: center;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: 60px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
