.form {
  padding-top: 15px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__fieldset {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  border: none;

  &:last-of-type {
    margin-bottom: 34px;
  }

  &--bodered {
    padding-top: 22px;
    padding-bottom: 22px;

    border-top: 1px solid $form-border-color;
    border-bottom: 1px solid $form-border-color;

    @media (min-width: $tablet-width) {
      border: 1px solid $form-field-color;
    }
  }

  &--wrapped {
    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }
}

.form__field-block {
  @include paragraph-style-reset;

  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--radio {
    display: block;
  }

  &--checkbox {
    display: block;

    @media (min-width: $tablet-width) {
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 25%;
    }
  }

  &--wrapped {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      width: 570px;
    }
  }
}

.form__label {
  margin-right: 14px;

  display: block;

  font-size: 16px;
  line-height: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;

  &--radio,
  &--checkbox {
    position: relative;

    padding-left: 46px;
    margin-right: 0;

    &:active {
      opacity: 0.3;
    }

    &::before {
      content: "";

      position: absolute;
      left: 0;

      width: 28px;
      height: 28px;

      border: 1px solid $form-checkbox-color;
    }

    &:hover::before,
    &:focus::before {
      border-color: $form-checkbox-hover-color;
    }
  }

  &--radio {
    color: $special-text-color;

    &::before {
      border-radius: 50%;
    }
  }

  &--checkbox {
    color: $dark-text-color;
  }
}

.form__text-field {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  flex-grow: 1;

  border: 1px solid $form-field-color;

  &:hover {
    border-color: $form-field-hover-color;
  }

  &:focus {
    border-color: $form-field-focus-color;
    outline: none;
  }

  &:focus + .form__icon {
    fill: $accent-color;
  }

  &:invalid {
    border-color: $error-color;
  }

  &:invalid + .form__icon {
    fill: $error-color;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 16px;
    font-family: "Oswald", "Arial", sans-serif;
    color: $basic-text-color;
    text-transform: uppercase;
  }

  &--illustrated {
    padding-right: 45px;
  }

  &--textarea {
    height: 150px;
  }
}

.form__radio-field:checked + .form__label--radio::after {
  content: "";

  position: absolute;
  left: 8px;
  top: 8px;

  display: block;
  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: $accent-color;
}

.form__checkbox-field:checked + .form__label--checkbox::after {
  content: url("../img/icon-tick.svg");

  position: absolute;
  left: 6px;
  top: 0;

  display: block;
  width: 18px;
}

.form__list {
  @include list-style-reset;

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__fieldset-legend {
  @include caption-decoration;

  margin-left: -20px;
  margin-bottom: 34px;
  max-width: 230px;

  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    @include caption-decoration(40px);

    margin-left: -40px;
    max-width: none;
  }
}

.form__icon {
  position: absolute;
  right: 39px;
}

.form__button {
  margin-bottom: 21px;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__legend {
  @include paragraph-style-reset;

  color: $dark-text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}
