.main-products__list {
  @include list-style-reset;

  @include layout-wrapper;
}

.main-products__item {
  padding-bottom: 25px;

  border-bottom: 1px solid $lightest-border-color;

  &:first-child {
    border-top: 1px solid $lightest-border-color;
  }
}
