.main-nav {
  @media (max-width: $mobile-only-width) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    max-width: 470px;
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
  }
}

.main-nav__toggle {
  @include button-style-reset;

  display: block;
  margin-left: auto;

  width: 66px;
  height: 66px;

  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--open {
    background-image: url("../img/icon-mobile-menu.svg");
    background-size: 24px 16px;
  }

  &--close {
    background-image: url("../img/icon-close.svg");
    background-size: 18px 18px;
  }

  @media (max-width: $mobile-only-width) {
    .main-nav--nojs & {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @include list-style-reset;

  @media (max-width: $mobile-only-width) {
    position: absolute;
    z-index: 4;

    width: 100%;

    background-color: $basic-background-color;

    .main-nav--nojs & {
      position: static;

      margin-top: 66px;
    }

    &--closed {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.main-nav__item {
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $dark-text-color;

  border-bottom: 1px solid $light-border-color;

  &:first-child {
    border-top: 1px solid $light-border-color;
  }

  @media (min-width: $tablet-width) {
    margin-left: 35px;
    padding: 0;

    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    border: none;

    &:first-child {
      margin-left: 0;

      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    .page-header--illustrated & {
      color: $light-text-color;
    }
  }
}

.main-nav__link {
  @include link-style-reset;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid $accent-color;
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding-bottom: 9px;

    &--active {
      padding-bottom: 7px;
    }
  }

  @media (min-width: $desktop-width) {
    .page-header--illustrated &--active {
      border-color: $desktop-menu-border-color;
    }
  }
}
