.main-products__list {
  @include list-style-reset;
}

.main-products__item {
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  border-bottom: 1px solid $special-gray-color;

  &:first-child {
    border-top: 1px solid $special-gray-color;
  }
}
