.page-header {
  @include layout-wrapper(0);

  position: relative;

  &--bordered {
    border-bottom: 1px solid $border-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 24px;
    width: 100%;

    &--bordered {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;

    &--illustrated {
      position: relative;
      z-index: 2;

      margin-bottom: -$desktop-header-min-height;
      min-height: $desktop-header-min-height;
    }
  }
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 20px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.page-header__main-nav {
  @media (min-width: $tablet-width) {
    max-width: 470px;
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
  }
}
