.page-main {
  &--illustrated {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      display: block;
      height: 305px;
      width: 100%;

      background-color: $accent-color;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      &::before {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: $desktop-header-min-height;

      &::before {
        left: 50%;
        bottom: 0;

        display: block;
        height: 696px;
        width: 50%;

        background-color: $accent-color;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

.page-main__wrapper {
  @include layout-wrapper;

  position: relative;

  margin-bottom: 22px;
  padding-top: 27px;

  text-align: center;
  color: $light-text-color;

  @media (min-width: $tablet-width) {
    @include layout-wrapper(110px);

    color: $dark-text-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include layout-wrapper(190px);

    margin-bottom: 82px;
    padding-top: 115px;
    padding-right: 700px;
    min-height: 696px - $desktop-header-min-height;
  }
}

.page-main__title {
  @include title-style-reset;
  @include layout-wrapper;

  margin-top: 27px;
  margin-bottom: 40px;

  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-text-color;

  &--wrapped {
    @include layout-wrapper(0);

    margin-top: 0;
    margin-bottom: 23px;

    color: inherit;
  }

  @media (min-width: $tablet-width) {
    @include layout-wrapper(30px);

    font-size: 60px;
    line-height: 60px;

    &--wrapped {
      @include layout-wrapper(0);

      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    @include layout-wrapper(110px);

    &--wrapped {
      @include layout-wrapper(0);
    }
  }
}

.page-main__slogan {
  @include paragraph-style-reset;
  @include layout-wrapper;

  margin-bottom: 25px;

  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $dark-text-color;

  &--wrapped {
    @include layout-wrapper(0);

    color: inherit;
  }

  &--questionnaire {
    margin-top: 55px;
    margin-left: 0;
    width: 270px;
  }

  @media (min-width: $tablet-width) {
    @include layout-wrapper(30px);

    font-size: 20px;
    line-height: 30px;

    &--wrapped {
      @include layout-wrapper(0);
    }

    &--questionnaire {
      @include layout-wrapper(70px);

      margin-left: 0;
      width: 470px;
    }
  }

  @media (min-width: $desktop-width) {
    @include layout-wrapper(110px);

    &--wrapped {
      @include layout-wrapper(0);
    }

    &--questionnaire {
      @include layout-wrapper(110px);
      margin-left: auto;
      padding-right: 1000px;
      width: auto;
    }
  }
}

.page-main__button {
  @media (min-width: $tablet-width) {
    width: 244px;

    font-size: 20px;
    line-height: 20px;
  }
}
