.page-main {
  &--illustrated {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      display: block;
      height: 305px;
      width: 100%;

      background-color: $accent-color;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      &::before {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: $desktop-header-min-height;

      &::before {
        left: 50%;
        bottom: 0;

        display: block;
        height: 696px;
        width: 50%;

        background-color: $accent-color;
        background-image: url("../img/index-background-desktop@1x.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

.page-main__wrapper {
  @include layout-wrapper;

  position: relative;

  padding-top: 27px;
  margin-bottom: 22px;

  color: $light-text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include layout-wrapper(110px);

    color: $dark-text-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    @include layout-wrapper(190px);

    min-height: 696px - $desktop-header-min-height;
  }
}

.page-main__title {
  @include title-style-reset;
  @include layout-wrapper;

  margin-top: 27px;
  margin-bottom: 40px;

  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    @include layout-wrapper(30px);
  }

  @media (min-width: $desktop-width) {
    @include layout-wrapper(110px);
  }

  &--wrapped {
    @include layout-wrapper(0);
    margin-top: 0;
    margin-bottom: 22px;

    color: inherit;
  }
}

.page-main__slogan {
  @include paragraph-style-reset;
  @include layout-wrapper;

  margin-bottom: 25px;

  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include layout-wrapper(30px);
  }

  @media (min-width: $desktop-width) {
    @include layout-wrapper(110px);
  }

  &--wrapped {
    @include layout-wrapper(0);

    color: inherit;
  }
}

.page-main__button {
  @media (min-width: $tablet-width) {
    width: 254px;
  }
}
