.result {
  background-color: $dark-special-background-color;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-background-color 618px, $dark-special-background-color 618px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($basic-background-color 192px, transparent 192px),
      linear-gradient(to right, $light-special-background-color 50%, $dark-special-background-color 50%);
  }
}

.result__wrapper {
  padding-top: 27px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.result__text-block {
  @media (min-width: $tablet-width) {
    max-width: 800px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    width: 445px;
  }
}

.result__title {
  @include title-style-reset;

  margin-bottom: 33px;

  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 147px;
  }
}

.result__description {
  @include paragraph-style-reset;

  margin-bottom: 25px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.result__table {
  margin: 0 auto;
  margin-bottom: 18px;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    display: inline-table;
    margin: 0;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    display: table;
    margin-bottom: 42px;
  }
}

.result__parameters {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.result__parameters-descriptions {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.result__parameter {
  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 17px;
  padding-right: 16px;
  width: 90px;

  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: $dark-text-color;

  border: 1px solid $table-border-color;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 22px;

    width: 130px;

    font-size: 30px;
    line-height: 30px;
  }
}

.result__parameter-description {
  margin-right: 18px;
  margin-left: 18px;
  padding-right: 10px;
  padding-left: 10px;
  width: 68px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;

  background-color: $dark-special-background-color;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
    margin-left: 24px;
    padding-right: 8px;
    padding-left: 8px;
    width: 98px;

    font-size: 14px;
    line-height: 14px;

    background-color: $basic-background-color;

    &:nth-child(2) {
      margin-right: 9px;
      margin-left: 9px;
      width: 128px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $light-special-background-color;
  }
}

.result__cost-block {
  @include paragraph-style-reset;

  display: flex;
  justify-content: center;
  margin-bottom: 35px;

  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
    margin-top: 12px;
    margin-bottom: 0;

    font-size: 20px;

    vertical-align: middle;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    float: left;
  }
}

.result__cost {
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 65px;
  }
}

.result__slider {
  @media (max-width: $mobile-only-width) {
    margin-right: -20px;
    margin-left: -20px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    left: 80px;
  }
}
