.slider {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.slider__photos {
  position: relative;

  margin: 0 auto;
  margin-bottom: 30px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 690px;
    margin: 0;
    margin-left: auto;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.slider__photo-wrapper {
  background-color: $dark-special-background-color;

  overflow: hidden;

  &--before {
    position: relative;
    z-index: 1;

    width: 50%;
  }

  &--after {
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-background-color 169px, $dark-special-background-color 169px);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 132px;

    &--before {
      width: 365px;

      background-image: linear-gradient($basic-background-color 191px, $light-special-background-color 191px);
    }

    &--after {
      background-image: linear-gradient($basic-background-color 191px, $dark-special-background-color 191px);
    }
  }
}

.slider__photo {
  height: 100%;
  width: auto;
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;


  &--nojs {
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 82px;
    bottom: 68px;
    z-index: 2;

    margin: 0 auto;
  }
}

.slider__controls-legend {
  @include paragraph-style-reset;

  margin-right: 18px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: $dark-text-color;

  &:nth-of-type(2) {
    margin-right: 0;
    margin-left: 18px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 24px;

    font-size: 20px;
    line-height: 30px;

    border-bottom: 2px dotted $dark-border-color;

    &:nth-of-type(2) {
      margin-left: 19px;
    }
  }
}

.slider__range-wrapper {
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 3px;
  padding-left: 6px;

  background-color: $basic-background-color;

  border: 1px solid $range-border-color;
  border-radius: 7px;

  @media (min-width: $tablet-width) {
    padding: 0;

    background-color: transparent;

    border: none;

    border-radius: 0;
  }

  .slider__controls--nojs & {
    display: none;
  }
}

.slider__range {
  position: relative;

  width: 70px;
  height: 6px;

  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 428px;

    background-color: $range-background-color;
  }
}

.slider__bar {
  width: 50%;
  height: 6px;

  background-color: $accent-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggle {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -3px;
  width: 6px;
  height: 6px;

  background-color: $accent-color;

  border-radius: 50%;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: -14px;

    margin-left: -17px;
    width: 32px;
    height: 32px;

    background-color: $basic-background-color;

    border: 1px solid $range-border-color;
    box-shadow: 0 1px 3px rgba($dark-text-color, 0.16);

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      left: 12px;


      width: 8px;
      height: 8px;

      background-color: $accent-color;

      border-radius: 50%;
    }
  }
}
