.social {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__link {
  display: block;
  padding: 21px;

  &:hover .social__image,
  &:focus .social__image {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__image {
  display: block;
}
