.social {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social__link {
  display: block;
  padding-top: 23px;
  width: 55px;
  height: 38px;

  text-align: center;
  color: $footer-link-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 50px;
    height: 30px;
  }
}

.social__image {
  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 25px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 20px;
      height: 27px;
    }
  }
}
