@mixin list-style-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin button-style-reset {
  padding: 0;
  box-sizing: content-box;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

@mixin link-style-reset {
  color: inherit;

  text-decoration: none;
}

@mixin title-style-reset {
  margin: 0;

  font-weight: normal;
}

@mixin paragraph-style-reset {
  margin: 0;
}

@mixin caption-decoration {
  display: table;
  padding: 0 20px;
  max-width: 230px;

  background-image: linear-gradient($basic-background-color, $basic-background-color);

  &::before {
    content: "";

    position: absolute;
    top: auto;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 20px;

    background-image: linear-gradient($basic-background-color 18px, $accent-color 18px, $accent-color 20px, $basic-background-color 20px);
  }
}

@mixin layout-wrapper($padding: 20px) {
  padding-right: $padding;
  padding-left: $padding;
}
