$accent-color: #68b738;
$dark-accent-color: #5eaa2f;

$basic-background-color: #ffffff;
$light-special-background-color: #f2f2f2;

$light-text-color: #ffffff;
$basic-text-color: #444444;
$dark-text-color: #000000;

$light-border-color: #e6e6e6;
$border-color: #d9d9d9;
